<h2>Follow <%=h @follows.name %></h2>
<div class="lightbox_content">
<% if @confirm %>
<span class="lightbox_message">Subscription saved. You will now see updates when <%=h @follows.name%> uploads, comments on, or updates music.</span>
<% else %>
<span class="lightbox_message"><%=@error_message%></span>
<%end%>
</div>
<div class="lightbox_base"><a href="#" class="lbAction button" rel="deactivate" onClick="$('overlay').style.display = 'none'; $('lightbox').style.display = 'none';
; Element.remove($('lbContent')); return false;"><span>Close</span></a></br></br></div>
