
#header {
	background-color:#191970;
	width: 1020px;
	height: 15px;
	padding-top: 10px;
	padding-bottom: 2px;
	padding-left:6px;
	padding-right:6px;
	color:white;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#header .left {
	float: left;
	font-size:15px;
	font-weight: bolder;
}

#header .right {
	display: inline;
	float: right;
	font-size:12px;
	font-weight: bolder;
	padding-top: 5px;
}

#header .right li {
	display:inline;
}
body {
	text-align: center;
	margin: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
        background-image:url('/images/background.png');
        background-repeat:repeat-x repeat-y; 
}
#main {
	width: 800px;
	height: 100%;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	left: auto;
	right: auto;
	position: relative;
        background-color: #FFFFFF;
}

#main_content {
	padding-bottom: 100px;
	text-align: left;
	padding-left: 0px;
	padding-right:0px;
	padding-top:0px;
	background-color: #FFFFFF;
}
#app_header {
	width: 100%;
	height: 123px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

#login_links {
	position: relative;
	float: right;
	padding-right:15px;
}
#login_links a {
	color: #2f2e2b;
	text-decoration: none;
}
#login_links a:hover {
	color: gray;
}

#nav {
	height: 30px;
	margin: 0;
	padding: 0px 0px 0;
	text-align: left;
	background: #8b8b8b; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a); /* for firefox 3.6+ */
 
	border-top: solid 1px #6d6d6d;
	border-bottom: solid 1px #6d6d6d;
}
#nav li {
display:inline; list-style-type:none; padding-left:1em; margin-left:1em; border-left:1px solid #ccc
}
#nav li:first-child {
border-left:none
}

#nav ul {
	margin: 5px;
	padding:0 ;
	vertical-align: middle;
}

#nav a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration: none;
}
#nav a:hover {
	color: #d6d6d6;
}

#persistent_player {
	width: 800px;
	height: 100px;
	position:fixed;
	bottom:0;
	background-color: white;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
margin-left:auto;
margin-right:auto;
}

.playlist_row {
	width:700px;
	background-color: #c2c2c2;
	display: block;
	position:relative;
}

#playlist {
	display:inline-block;
	float:right;
}
.playlist_row div {
border-left: 1px white;
float: left;
display: inline-block;
}

.lister {
left:20px;
width: 100%;
cellspacing: 0px;
cellpadding: 0px;
border-collapse: collapse;
}

.lister tr {
/*border: 1px solid black;*/
}

h2 {
display: block;
width:99%;
height:30px;
padding-top: 10px;
padding-left: 10px;
margin:0px;
	background: #8b8b8b; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#a9a9a9'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#a9a9a9)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #7a7a7a, #a9a9a9); /* for firefox 3.6+ */
	border-top: solid 1px #6d6d6d;
	border-bottom: solid 1px #6d6d6d;

vertical-align:middle;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size:20px;
}

h3 {
display: block;
width:99%;
height:20px;
padding-top: 10px;
padding-left: 10px;
margin:0px;
	background: #8b8b8b; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#a9a9a9'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#a9a9a9)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #7a7a7a, #a9a9a9); /* for firefox 3.6+ */
	border-top: solid 1px #6d6d6d;
	border-bottom: solid 1px #6d6d6d;

vertical-align:middle;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size:16px;
}

.table_con {
text-align:center;
padding:0px;
margin:0px;
}

.lister .head {
border: none;
border-top:3px solid white;
background-color: gray;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:normal;
}

.lister td {
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size:14px;
}

.lister .o {
background-color: #D8D8D8;
}

.lister .e {
background-color: white;
}

.lister a {
border: 0px;
color: black;
}


a.button {
    background: transparent url('/images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 14px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('/images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

div.comment {
  display:inline-block;
  border-bottom: solid;
  border-color: #848484;
  width: 80%;
}

li.comment_element {
  list-style-type: none;
}

div.comment img.thumb {
	float: left;
	padding: 10px 10px 10px 10px;
}

div.comment_text {
  width: 75%
  float: left;
}


