<h2>Welcome to Project Jukebox!</h2>

(put fancy shiny graphics here, maybe screen caps once we have a pretty style)</p>
<div class="comment">
<% @actions.each do |feed| %>
  <%= render(:partial => '/index/feed', :object => feed) %>		   
<% end %>
</div>
