<h2><% if current_user %>Hello, <%=current_user.name%><div style="display:inline; float:right;"><%= link_to_remote "<span>View Personalized Activity</span>", {:url=>'index/auth_home', :update=>'main_content', :method=>'get'}, :class=>"button" %></div><%else%>Welcome to Project Jukebox!<% end %></h2>

<div class="comment">
<% @actions.each do |feed| %>
  <%= render(:partial => '/index/feed', :object => feed) %>		   
<% end %>
</div>
