<html>
<head>
  <%= stylesheet_link_tag 'general' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= javascript_include_tag 'ajaxify', 'application' %>
  <script type="text/javascript">   $(document).ready(function() {    $('.ajaxify').ajaxify(); });</script>
</head>
<body>
<div id="main">
	<div id="app_header">
		<img src="images/logo.gif" width="243" height="123" align="left" />
		<div id="login_links">
			<% if current_user %>
				<%= link_to "Edit Profile", edit_user_path(:current), :class => 'ajaxify' %> |
				<%= link_to "Logout", logout_path %>
			<% else %>
				<%= link_to "Register", new_user_path %> |
				<%= link_to "Login", login_path %>
			<% end %>
		</div>
	</div>
	
	<div id="nav">
		<ul>
			<li>
				<%= link_to "Popular Songs", popular_songs_path(), :class => 'ajaxify' %>
			</li>
			<li>
				<%= link_to "Popular Playlists", popular_playlists_path(), :class => 'ajaxify' %>
			</li>
			<% if current_user %>
				<li>
					<%= link_to "My Songs", my_songs_path(), :class => 'ajaxify' %>
				</li>
				<li>
					<%= link_to "My Playlists", my_playlists_path(), :class => 'ajaxify' %>
				</li>
			<% end >%
			<li>
				<%= link_to "Browse", browse_path(), :class => 'ajaxify' %>
			</li>
		</ul>
	</div>
	
	<div id="main_content">
		<div id="main_img">
			<img src="images/band_test.png" width="800" height="150" />
		</div>	
	</div>
	
</div>

<div id="persistent_player">
Test this shit (persistent player div)
</div>
</body>
</html>
