<div id="main_content">
<div id="update_info">
<h1>Update Your Information</h1>

<% form_for(@user, :url => '/Users/update/'+@user.id.to_s+'.js', :html => { :multipart => true, :target => 'upload_frame'}) do |update| %>
  <%= update.error_messages %>
<%= render(:partial => '/users/update', :object => update) %>
<% end %>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
<%= link_to_remote "<span>Back</span>", {:url=>current_user, :update=>'main_content', :method=>'get'}, :class => "button" %>

</div>
</div>
