<div id="main_content">
<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>
<div id="new_user_form">
<h1>Sign up</h1>
<% form_for(:user, :url => formatted_users_path(:format => 'js'), :html => { :multipart => true, :target => 'upload_frame'}) do |form| %>
<%= render(:partial => '/users/form', :object => form) %>
<% end %>
</div>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
</div>

