<h2> My Songs </h2>

<% if @songs.size > 0 %>
  <% @songs.each do |s| %>
    <%= link_to_remote "#{s.name}", {:url=>'/songs/show/#{s.id}', :update=>'main_content'} %>
  <% end %>
<% else %>
  You haven't uploaded any songs yet!
<% end %>
