<h2>New song</h2>

<div id="upload_form">
<% form_for(:song, :url =>formatted_songs_path(:format => 'js'), :html => { :multipart => true, :target => 'upload_frame'}) do |form| %>
<%= render(:partial => '/songs/form', :object => form) %>
<% end %>
</div>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>

<%= link_to_remote "Back", {:url=>current_user, :update=>'main_content', :method=>'get'} %>
