<h2> Browse </h2>
<%= content_tag :div, "Genre: #{@genre}", :id=>"current_genre" %>
<% i = 0 %>

<% if @songs.size > 0 %>
	<table class="lister">
		<tr>
		<th>Song Name</th>
		<th>Genre</th>
		<th>Rating</th>
		<th></th>
		</tr>
		<% @songs.each do |s| %>
			<tr>
			<td class="name">
			<%=link_to_remote("#{s.name}", :url=>s, :method=>'get', :update=>'main_content')%>
			</td>
			<td class="att">
			<%=s.genre%>
			</td>
			<td class="att">
			<%=s.rating%>
			</td>
			<td class="control">
			</td>
			</tr>
		<% end %>
	</table>
  <% else %>
    There are no songs in this genre.
  <% end %>
