<h2> Browse </h2>
<%= content_tag :div, "Genre: #{@genre}", :id=>"current_genre" %>
<% i = 0 %>

<% @songs.each do |s| %>
  <% content_tag :div, "", :id => "song_#{i}", :class => "song" do %>
    <%= content_tag :div, link_to("#{s.name}", :controller=>:songs, :action=>:show, :id=>"#{s.id}"), :class => "song_name" %>
    <%= content_tag :div, "#{s.rating}", :class => "song_rating" %>
    <%= content_tag :div, link_to("#{s.users[0].login}", :controller=>:users, :action=>:show, :id=>"#{s.users[0].id}"), :class => "song_user" %>
    <% i += 1 %>
  <% end %>
<% end %>
