<h2> My Playlists </h2>

<% if @playlists.size > 0 %>
  <% @playlists.each do |p| %>
    <%= link_to_remote "#{p.name}", {:url=>"/playlists/show/#{p.id}", :update=>'main_content'} %>
  <% end %>
<% else %>
  You haven't created any playlists yet! 
<% end %>

