<html>
<head>
  <%= stylesheet_link_tag 'general' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery', 'application' %>
</head>
<body>
<div>
	<div id="header">
		<h1>JukeBox</h1>
		<div class="right">
			<ul>
				<li>Manage</li>
				<li>Account</li>
				<li>Logout</li>
			</ul>
		</div>
	</div>
	<div id="main_content">
		<div id="left_nav">
		</div>
		<%= yield %>
	</div>
</div>

</body>
</html>
